@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.editorial-shadow {
    box-shadow: 0 4px 20px -2px rgba(234, 42, 51, 0.1);
}

.recipe-card:hover .recipe-img {
    transform: scale(1.05);
}

.recipe-img {
    transition: transform 0.5s ease;
}

.product-card:hover .product-image {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #ea2a33;
}

.toggle-checkbox:checked {
    transform: translateX(100%);
    border-color: #ea2a33;
}
